<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Medicinal Plant Recognition</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">MedPlant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/info">Info</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
      </ul>
      <a href="/info">
        <button class="btn btn-outline-danger bg-danger text-white my-2 my-sm-0" type="submit">See Info --></button>
      </a>
    </div>
  </nav>

  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/images/img1.jpg" class="d-block w-100 img-fluid" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Pharmacy of Nature</h5>
          <p>Natures pharmacy where healing grows.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/images/img2.png" class="d-block w-100 img-fluid" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Remedies of Nature</h5>
          <p>Medicine in the garden, remedies in the leaves.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/images/img3.jpg" class="d-block w-100 img-fluid" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Gift of Nature</h5>
          <p>Cultivative health with natures gift.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="jumbotron jumbotron-fluid my-2 bg-muted text-center py-5">
    <div class="container">
      <h1 class="display-4">Planting for a Better Future </h1>
      <p class="lead"><big>The best time to plant a tree was 20 years ago. The second best time is now.</big>
      </p>


      <div class="row mt-4 mb-0">
        <div class="col"></div>
        <div class="col">
          <a href="/info">
            <button class="btn btn-outline-primary bg-primary text-white my-2 my-sm-0" type="submit">See Info
              --></button>
          </a>
        </div>
        <div class="col">
          <a href="/contact">
            <button class="btn btn-outline-primary bg-primary text-white my-2 my-sm-0" type="submit">Contact Us
              --></button>
          </a>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>

  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis font-weight-bold">Medicinal Plant Recognition System</h1>
    <p class="fs-5 text-body-secondary font-weight-normal"><big>Click on the Upload button to upload the desired image of the medicinal plant. Confirm your uploaded image by seeing it in the preview image section below. Then click on the Submit button to get the name and confidence of the medicinal plant.</big></p>
  </div>


  <img class="container my-2" src="static/images/img_icon.jpg" id="dispimg"
    style="display: flex; justify-content: center; align-items: center;height: 300px; width: 300px; border: 2px dashed gray;">

  </div>

  <div class="container my-2" style="display: flex; justify-content: center; align-items: center;">
    <form action="/submit" method="post" enctype="multipart/form-data">
      <label for="fileupload"
        style="display: block; width: 130px; background: #e3362c; color: #fff; padding: 12px; margin: 10px; border-radius: 5px; cursor:pointer; text-align: center;"><strong>Upload
          Image</strong></label>

      <input type="file" name="inputfile" id="fileupload" accept="image/jpeg, image/jpg, image/png"
        style="display: none;">

      <div class="container" style="display: flex; justify-content: center; align-items: center;">
        <button class="btn btn-success" style="width: 100px;"><strong>Submit</strong></button>
      </div>

    </form>
  </div>


  <div class="contianer mt-0 mx-auto" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <hr>
      <li class="list-group-item"><strong>Plant Name :{{result}}</strong></li>
      <li class="list-group-item"><strong>Confidence :{{accuracy}}%</strong></li>
      <hr>
    </ul>

  </div>

  <!-- Diplay the information and causes here -->
  <div class="container">
    <hr>
    <h3>{{result}}</h3><br>
    <h5 style="text-align: justify;">{{info}}</h5>
    <hr>
  </div>

  <div class="jumbotron py-4">
    <h1 class="display-4 text-center">Place An Order!</h1>
    <p class="lead text-center">Want to purchase a genuine medicinal plant? No need to worry, we are here to help you out.</p>
    <hr class="my-4">
    <p class="text-center"><strong>It's the right platform to get a Medicinal Plant! Place your order now to get the desired plant for you.</strong></p>
    <p class="lead">
    <div class="container" style="display: flex; justify-content:center;align-items:center;">
      <a class="btn btn-primary btn-lg mt-2" href="/order" role="button">Place Order
      </a>
    </div>
    </p>
  </div>
  <hr>
  <h1 class="text-center"><u> Visit Us Once!</u></h1>
<div class="container" style="display: flex; justify-content:center; align-items:center;">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.4420166839777!2d73.8656287742359!3d18.463626970913108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2ea950f616219%3A0x321bdae2cea9f064!2sVishwakarma%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1703085134408!5m2!1sen!2sin" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

  <footer class="bg-dark text-center text-white position-relative mt-3">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section WT project -->
      <h3 class="mx-auto mb-4">A Course Project for Web Technnology</h3>
      <!-- Section: Links -->


      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          A web based platform that uses images or photographs to automate the process of medicinal plant
          identification. Users are able to input images of medicinal plant, and the algorithm will correctly identify
          the type of the medicinal plant.The sytem returns the desired results to the user which includes the name of
          the respective medicinal plant and the confidence associated with it, that signifies the matching percentage
          with the actual plant.
        </p>
      </section>
      <!-- Section: Text -->

      <!-- Section A Project By -->
      <h3 class="mx-auto mb-4">Major Contributions :</h3>
      <!-- Section: Links -->

      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Dr. Kuldeep Vayadande</h5>

            <a class="btn btn-outline-light btn-floating m-1" role="button"
              onmouseover="showMail('sir','kuldeep.vayadande1@gmail.com')" onmouseleave="hideMail('sir')"><svg
                xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope"
                viewBox="0 0 16 16">
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
              </svg></a>
            <span id="sir"><strong></strong></span>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Suraj N. Samgir</h5>

            <a class="btn btn-outline-light btn-floating m-1" role="button"
              onmouseover="showMail('suraj','suraj.samgir23@vit.edu')" onmouseleave="hideMail('suraj')"><svg
                xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope"
                viewBox="0 0 16 16">
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
              </svg></a>
            <span id="suraj"><strong></strong></span>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Harshada A. Sawai</h5>

            <a class="btn btn-outline-light btn-floating m-1" role="button"
              onmouseover="showMail('harshada','harshada.sawai23@vit.edu')" onmouseleave="hideMail('harshada')"><svg
                xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope"
                viewBox="0 0 16 16">
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
              </svg></a>
            <span id="harshada"><strong></strong></span>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Bhairavi Shirsath</h5>

            <a class="btn btn-outline-light btn-floating m-1" role="button"
              onmouseover="showMail('bhairavi','bhairavi.shirsath23@vit.edu')" onmouseleave="hideMail('bhairavi')"><svg
                xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope"
                viewBox="0 0 16 16">
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
              </svg></a>
            <span id="bhairavi"><strong></strong></span>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Bhakti S. Bhande</h5>

            <a class="btn btn-outline-light btn-floating m-1" role="button"
              onmouseover="showMail('bhakti','bhakti.bhande23@vit.edu')" onmouseleave="hideMail('bhakti')"><svg
                xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope"
                viewBox="0 0 16 16">
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
              </svg></a>
            <span id="bhakti"><strong></strong></span>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Srushti M. Gawade</h5>

            <a class="btn btn-outline-light btn-floating m-1" role="button"
              onmouseover="showMail('srushti','srushti.gawade23@vit.edu')" onmouseleave="hideMail('srushti')"><svg
                xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope"
                viewBox="0 0 16 16">
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
              </svg></a>
            <span id="srushti"><strong></strong></span>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Vishwakarma Institute of Technnology, Pune</a>
    </div>
    <!-- Copyright -->
  </footer>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->



  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <!--E mail Function Script-->
  <script>
    function showMail(a, b) {
      document.getElementById(a).innerHTML = b;
    }

    function hideMail(a) {
      document.getElementById(a).innerHTML = "";
    }

    // JS code for uploading pic...

    let LogoPic = document.getElementById("dispimg");
    let InputPic = document.getElementById("fileupload");

    InputPic.onchange = function () {
      LogoPic.src = URL.createObjectURL(InputPic.files[0]); //creating the url of the input file and then updating it
    }
  </script>

</body>

</html>